# java
*.class
# Package Files #
*.jar
!sqlite-jdbc-3.8.10.1.jar

# macosx
.DS_Store

# eclipse
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse

# intellij
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
*.ipr
*.iws
/out/

# gradle
.gradle
build/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

#db
*.db
